/* Html5 reset */
@import url('reset.css');
/*@import url('testterm.css');*/

/* the real stoof*/

@font-face
		{
		font-family: Munro, MunroNarrow, MunroSmall, CharlemagneRegular, Triforce, Chiaro;
		src: url('fonts/munro/Munro.ttf', 
		'fonts/munro/MunroNarrow.ttf', 
		'fonts/munro/MunroSmall.ttf',
		'fonts/Triforce.ttf',
		'fonts/CharlemagneRegular.ttf'
		'fonts/Chiaro.ttf')
		}

/*all*/

html {
	background-color: #4a9c4a;
}


p, li {
	font-family: Chiaro;
	font-size: 13px;
}

h3 {
	font-family: Munro;
	font-size: 23px;
	margin-bottom: 15px;
}

a {
	text-decoration: none;
	color: white;
}

p {
	margin-bottom: 10px;
}

.preamble, .explanation, .participation, .benefits, .requirements {
	width: 380px;
	background-color: black;
	border-radius:25px;
	opacity: .68;
	color: white;
	padding: 20px;
}

.extra1 {
	background-image:url('img/link.jpeg');
	background-repeat: no-repeat;
	background-position: center;
	width:300px;
	height:300px;
	position: fixed;
	top: 0;
	left: 39%;
	/*margin-left: auto;
	margin-right: auto;*/
}

/*section:intro*/

header {
	
	content: url('img/Shield_css.png');
}

/*header:after {
	content: url('img/Shield_css.png');
	position: absolute;
	left: 50%;
}*/


header h1 {
	font-size: 50px;
}

header h2 {
	font-size: 30px;
	font-family: MunroNarrow;
	margin-top: 0px;
}

header, .summary {
	margin-left: auto;
	margin-right: auto;
}

.summary {
	width: 400px;
	margin-bottom: 150px;
}

.summary p {
	font-family: Munro;
	font-size: 20px;
	text-align: center;
	color: white;
}

.preamble {
	margin-left: 10%;
	float: left;
}

/*section:main*/

.explanation {
	margin-right: 10%;
	margin-top: 30%;
	float: right;
}

.participation {
	float: left;
	clear: left;
	margin-left: 5%;
	margin-top: 15%;
}

.benefits {
	float: right;
	clear: both;
	margin-top: 10%;
	margin-right: 5%;
}

.requirements {
	float: left;
	margin-top: 30%;
	margin-left: 10%;
	margin-bottom: 14%;
}

/*section:aside*/

footer {
	clear: both;
}

.sidebar {
	clear:both;
	margin-left: auto;
	margin-right: auto;
}

.design-selection, .design-archives, .design-resources {
	float: left;
	margin-left: auto;
	margin-right: auto;
}

footer, .sidebar h3, li {
	font-size: 15px;
	font-family: MunroSmall;
	color: white;
}


@media all and (min-width: 1500px) {
	html {
		padding: 0 7% 0 7%; 
	}
}
