/* Html5 reset */
@import url('reset.css');
/*@import url('testterm.css');*/

/* the real stoof*/

@font-face
		{
		font-family: Munro, MunroNarrow, MunroSmall, CharlemagneRegular, Triforce, Chiaro;
		src: url('fonts/munro/Munro.ttf', 
		'fonts/munro/MunroNarrow.ttf', 
		'fonts/munro/MunroSmall.ttf',
		'fonts/Triforce.ttf',
		'fonts/CharlemagneRegular.ttf'
		'fonts/Chiaro.ttf')
		}

/*all*/

html {
	background-color: #4a9c4a;
}


p, li {
	font-family: Chiaro, arial;
	font-size: 13px;
}

h3 {
	font-family: Munro, Monaco, arial;
	font-size: 23px;
	margin-bottom: 15px;
}

a {
	text-decoration: none;
	color: white;
}

p {
	margin-bottom: 10px;
}

.preamble, .explanation, .participation, .benefits, .requirements {
	width: 380px;
	background-color: black;
	border-radius:25px;
	opacity: 0;
	color: white;
	padding: 20px;
}

.preamble, .explanation, .participation, .benefits, .requirements {
	width: 380px;
	background-color: black;
	border-radius:25px;
	/*opacity: 0;*/
	opacity: .68;
	color: white;
	padding: 20px;
}

.preamble:hover, .explanation:hover, .participation:hover, .benefits:hover, .requirements:hover {
	opacity: .68;
}

.extra1 {
	background-image:url('img/link.jpeg');
	background-repeat: no-repeat;
	background-position: center;
	width:300px;
	height:300px;
	position: fixed;
	top: 0;
	left: 40%;
}


/*section:intro*/

header {
	content: url('img/Shield_css.png');
	margin-top: 45px;
	margin-bottom: -180px;
}




header h1 {
	font-size: 50px;
}

header h2 {
	font-size: 30px;
	font-family: MunroNarrow, Monaco, arial;
	margin-top: 0px;
}

header, .summary {
	margin-left: auto;
	margin-right: auto;
}

.summary {
	width: 400px;
	margin-bottom: 150px;
}

.summary p {
	font-family: Munro, Monaco, arial;
	font-size: 20px;
	text-align: center;
	color: white;
}

.preamble {
	margin-left: 12%;
	float: left;
}

/*section:main*/

.explanation {
	/*margin-left: 8%;*/
	margin-right: 16%;
	margin-top: 20%;
	float: right;
	clear: left;
}

.participation {
	float: right;
	clear: right;
	margin-right: 5%;
	margin-top: 15%;
}

.benefits {
	float: right;
	clear: both;
	margin-top: 10%;
	margin-right: 22%;
}

.requirements {
	float: left;
	margin-top: 20%;
	margin-left: 10%;
	margin-bottom: 14%;
}

/*section:aside*/

footer {
	clear: both;
	margin: 15px;
}

.sidebar {
	height: 150px;
	clear:both;
	padding-bottom: 30px;
	border: 2px dotted white;
	margin: 0px 15px 0px 15px;
}

.design-selection, .design-archives, .zen-resources {
	float: left;
	padding: 15px 15px 15px 15px;
	margin-right: 15px;
	margin-bottom: 30px;
}

.design-selection

footer, .sidebar h3, li {
	font-size: 11px;
	font-family: Munro, Monaco, arial;
	color: white;
}


@media all and (min-width: 1500px) {
	html {
		padding: 0 7% 0 7%; 
	}
	
	.extra1 {
		left: 42%;
	}
}

@media all and (max-width: 1000px) {
	.preamble, .explanation, .participation, .benefits, .requirements {
		margin-left: auto;
		margin-right: auto;
		float: none;
	}
	
	.extra1 {
		left: 34%;
	}
	
	.preamble, .explanation, .participation, .benefits, .requirements {
	opacity: .68;
	}
	
	footer {
		text-align: center;
	}
	
	.sidebar {
	width: 380px;
	height: 420px;
	margin-left: auto;
	margin-right: auto;
}
	
	.design-selection, .design-archives, .zen-resources {
	clear: left;
	margin-bottom: 15px;
	}
}
